@font-face{font-family:'Great Vibes';font-weight:400;src:url('GreatVibes-400.ttf') format('truetype');}
@font-face{font-family:'Poppins';font-weight:500;src:url('Poppins-500.ttf') format('truetype');}
@font-face{font-family:'Poppins';font-weight:600;src:url('Poppins-600.ttf') format('truetype');}
@font-face{font-family:'Poppins';font-weight:700;src:url('Poppins-700.ttf') format('truetype');}
@font-face{font-family:'Poppins';font-weight:800;src:url('Poppins-800.ttf') format('truetype');}
@font-face{font-family:'Poppins';font-weight:900;src:url('Poppins-900.ttf') format('truetype');}
